
<!-- Jobs Available -->
{{#job}}
<div class="grid-container fluid" style="margin-top: 60px">
    <div class="grid-x">
        <div class="cell small-2" id="empty-cell"></div>
        <div class="cell small-8" style="border: 2px solid grey; border-radius: 4px; background-color: white">
            <div class="gigName" style="padding:4px; color:rgb(46,185,94); text-align: center">
                <h2>{{this.name}}
                </h2>
            </div>
            <hr>
            <div id="category">
                <h3 style="padding:4px; color:rgb(46,185,94)">Category:</h3>
                <p>{{this.category}}</p>
            </div>
            <div id="gigLocation">
                <h3 style="padding:4px; color:rgb(46,185,94)">Location:</h3>
                <p>{{this.location}}</p>
            </div>
            <div id="gigDescription">
                <h3 style="padding:4px; color:rgb(46,185,94)">Description:</h3>
                <p>{{this.description}}</p>
            </div>
            <div id="payment">
                <h3 style="padding:4px; color:rgb(46,185,94)">Payment:</h3>
                <p>$ {{this.payment}}</p>
            </div>
            <div id="dates">
                <h3 style="padding:4px; color:rgb(46,185,94)">Dates:</h3>
                <p>{{this.startDate}} - {{this.endDate}}</p>
            </div>
        </div>
    </div>
    <div class="cell small-2" id="empty-cell"></div>
</div>

{{/job}}

