<!-- Jobs Description -->
<div class="grid-container fluid" style="margin-top: 60px">
    <div class="grid-x">
        <div class="cell small-2" id="empty-cell"></div>
        <div class="cell small-8" style="border: 2px solid grey; border-radius: 4px; background-color: white; padding: 5px">
            {{#taker}}
            <div class="gigName" style="padding:2px; color:#4d0099; text-align: center">
                <h3>{{this.firstName}} {{this.lastName}}
                </h3>
            </div>
            <div id="job-description-outer-container">
                <div id="job-description-container">
                    <div id="gigLocation">
                        <h5 style="padding:4px; color:#4d0099">Location:</h5>
                        <p>{{this.city}}, {{this.state}}</p>
                    </div>
                    <div id="gigDescription">
                        <h5 style="padding:4px; color:#4d0099">Skills:</h5>
                        <p>{{this.skills}}</p>
                    </div>
                    <div id="payment">
                        <h5 style="padding:4px; color:#4d0099">Email:</h5>
                        <p>{{this.email}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/taker}}
    </div>
    <div class="cell small-2" id="empty-cell"></div>
</div>
</div>